/*全部初始設定*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

* > button , input {
    font-size: 15px;
    height: 4vw;
    width: 15vw;
    margin-right: 20px;
    border-color: rgb(56, 154, 252);
    border-radius: 20px;
    background-color: rgb(106, 180, 255);
}

button:hover{
    background-color: rgb(37, 146, 255);
}

input::-webkit-input-placeholder{
    text-align: center;
    color: white;
}

img {
    width: 3vw;
    height: 3vw;
}


body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

main{
    margin: 0%;
    margin-top: 100px;
    padding: 0%;
}

main > div{
    justify-content: left;
    align-items: left;
    display: inline-block;
}

.col_upload  {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.upload__but{
    width: 4vw;
    background-color: white;
    cursor: pointer;
    display: flex;
    border: 0;
    justify-content: flex-start;
}

.upload__but:hover{
    background-color: white;
}


.col_search {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.search > button{
    cursor: pointer;
    background-color: white;
    border: 0;
    width: 4vw;
    display: flex;
}

.keyword > input{
    padding-left: 10px;
    padding-right: 10px;
}

.date > input {
    padding-left: 10px;
    padding-right: 10px;
}

.date__logo{
    cursor: pointer;
    border: 0;
}

.col_title {
    display: flex;
    color:aqua;
}

.col_title > span {
    background-color: rgb(106, 180, 255);
    margin: 0;
    padding: 0;
    padding-left: 5px;
    margin-right: 2px;
    line-height: 0%;
}

.title__No > h3{
    width: 5vw;
}

.title__date > h3{
    width: 20vw;
}

.title__content > h3{
    width: 30vw;
}

.title__move > h3{
    width: 6.5vw;
}

section > p{
    color: black;
}

.contents__form{
    color: black;
    display: flex;
}



.content__form{
    display: flex;
}

.content__form > span {
    padding-left: 5px;
    color: black;
    margin-right:2px;
    background-color: rgba(0, 132, 255, 0.322);
    margin-top: 10px;
    justify-content: flex-start;
}

.contents__No > h3{
    width: 5vw;
    color: black;
}

.contents__date> h3{
    width: 20vw;
    color: black;
}

.contents__content> input{
    width: 28.5vw;
    border-radius: 0;
    border: none;
    background-color: rgba(0, 132, 255, 0);
    color: black;
}

.contents__move {
    width: 7vw;
    display: flex;
    flex-direction: column;
}

.contents__but__dele, .contents__but__edit{
    cursor: pointer;
    width: 50px;
    height: 30px;
}



.footer{
    width: 63.5vw;
    height: 30px;
    background-color: rgba(0, 132, 255, 0.549);
}