/*全部初始設定*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

* > button , input {
    font-size: 15px;
    height: 4vw;
    width: 15vw;
    margin-right: 20px;
    border-color: rgb(56, 154, 252);
    border-radius: 20px;
    background-color: rgb(106, 180, 255);
}

input::-webkit-input-placeholder{
    text-align: center;
    color: white;
}

img {
    width: 3vw;
    height: 3vw;
}


body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

main{
    margin: 0%;
    padding: 0%;
}

main > div{
    justify-content: left;
    align-items: left;
    display: inline-block;
}

.col_upload > span {
    display: inline-block;
    justify-content: center;
    margin-bottom: 10px;
}

.upload > input{
    padding-right: 0;
    margin-right: 0;
}

.upload__logo > button{
    cursor: pointer;
    height: 0vw;
    width: 0vw;
    background-color: white;
    border: 0;
}

.search__logo > button{
    cursor: pointer;
    height: 0vw;
    width: 0vw;
    background-color: white;
    border: 0;
}


.date__logo{
    cursor: pointer;
    background-color: white;
    border: 0;
}

.col_title {
    display: flex;
    color:aqua;
}

.col_title > span {
    background-color: rgb(106, 180, 255);
    margin: 0;
    padding: 0;
    padding-left: 5px;
    margin-right: 2px;
    line-height: 0%;
}

.title__No > h3{
    width: 5vw;
}

.title__date > h3{
    width: 20vw;
}

.title__content > h3{
    width: 30vw;
}

.title__move > h3{
    width: 6vw;
}

section > p{
    color: black;
}

.contents__form{
    color: black;
    display: flex;
}



.printout{
    display: flex;
}

.printout > span {
    padding-left: 5px;
    color: black;
    margin-right:2px ;
    background-color: rgba(0, 132, 255, 0.322);
    margin-top: 10px;
    justify-content: flex-start;
}

.contents__No > h3{
    width: 5vw;
    color: black;
}

.contents__date> h3{
    width: 20vw;
    color: black;
}

.contents__content> input{
    width: 28vw;
    border-radius: 0;
    border: none;
    background-color: rgba(0, 132, 255, 0);
    color: black;
}

.contents__move {
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contents__but{
    width: 50px;
    height: 30px;
}

